<h1>Suggested Musicians</h1>
<% if @musicians.length > 0 %>
  <ul>
    <% @musicians.each do |musician| %>
      <li><%= link_to musician.name, musician_path(musician) %></li>
    <% end %>
  </ul>
<% else %>
  <h4>There are no suggested musicians in your area</h4>
<% end %>
<br>
<h1>Suggested Openings</h1>
<% if @openings.length > 0 %>
  <ul><% @openings.each do |opening| %>
      <li><%= link_to opening.name, opening_path(opening) %></li>
    <% end %>
  </ul>
<% else %>
  <h4>There are no suggested openings in your area</h4>
<% end %>
