// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
  background-image: url("/assets/jb-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
